<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:fragment="scheduletable" class="pageContainer">

<table class="table table-striped">
    <thead>
    <tr>
        <th>Weekday</th>
        <th>Date</th>
        <th>No. of Chores</th>
        <th>Duration</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="schedule : ${schedules}">
        <td><a th:text="${schedule.dayOfWeek}"></a></td>
        <td><a th:text="${#temporals.format(schedule.dueDate, 'dd-MM-yyyy')}"></a></td>
        <td><a th:text="${schedule.getNumberOfChores()}"></a></td>
        <td><a th:text="${schedule.getTotalChoreTime(null)}"></a></td>
        <td class="icon-column" sec:authorize="isAuthenticated"><a th:href="@{/schedule/edit/{scheduleDate}(scheduleDate = ${schedule.dueDate})}"
                                   class="text-decoration-none text-primary edit-icon"
                                   title="Edit">
            <i class="bi bi-pencil-square"></i>
        </a></td>
        <td class="icon-column" sec:authorize="isAuthenticated"><a th:href="@{/schedule/delete/{scheduleID}(scheduleID = ${schedule.scheduleID})}"
                                   class="text-decoration-none text-danger"
                                   title="Remove">
            <i class="bi bi-trash"></i>
        </a></td>
        <td class="icon-column"><a class="btn btn-primary"
                                   th:href="@{/schedule/detail/{dueDate}(dueDate = ${schedule.dueDate})}" role="button">Details</a>
        </td>
    </tr>
    </tbody>
</table>

<div class="bottom-buttons" sec:authorize="isAuthenticated">
    <a class="btn btn-primary" th:href="@{/schedule/plan}" role="button">Plan chores on another day</a>
</div>
</div>

<div th:fragment="choretable" class="pageContainer">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Chore</th>
                <th>Time spent</th>
                <th>Specialist</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="chore : ${chores}">
                <td th:text="${chore.choreName}">Chore name</td>
                <td th:text="${chore.choreDuration}">Chore Duration</td>
                <td th:text="${chore.familyMember.memberName}">Specialist </td>
                <td class="icon-column" sec:authorize="isAuthenticated">
                    <a th:href="@{/chore/edit/{choreID}(choreID = ${chore.choreID})}"
                                           class="text-decoration-none text-primary edit-icon"
                                           title="Edit">
                    <i class="bi bi-pencil-square"></i>
                </a></td>
                <td class="icon-column" sec:authorize="isAuthenticated">
                    <a th:href="@{/chore/delete/{choreID}(choreID = ${chore.choreID})}"
                                           class="text-decoration-none text-danger"
                                           title="Remove">
                    <i class="bi bi-trash"></i>
                </a></td>
                <td class="icon-column" sec:authorize="isAuthenticated"><a class="btn btn-primary"
                                           th:href="@{/schedule/addChore/{choreID}(choreID = ${chore.choreID})}" role="button">Add to today</a>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="bottom-buttons" sec:authorize="isAuthenticated">
        <a class="btn btn-primary" th:href="@{/chore/add}" role="button">Add a new chore</a>
    </div>
</div>

</body>
</html>