<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Overview of all the chores</title>
</head>
<body>

<h1>Overview of all the chores</h1>
<table>
    <thead>
    <tr>
        <th>Taak</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="chore : ${chores}">
        <td th:text="${chore.choreName}">Chore name</td>
        <td th:text="${chore.choreTime}">Chore time</td>
    </tr>
    </tbody>
</table>

<a th:href="@{/chore/add}">Add a new chore</a>

</body>

</html>