<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:replace="~{fragments/general :: baseheader(~{:: title})}">
    <title>Chore scheduler - family</title>
</head>
<body>

<div th:replace="~{fragments/general :: navbar}"></div>

<div class="pageContainer">
    <h1>Family members</h1>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Time Total</th>
            <th>Ahead/behind</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="familyMember : ${allFamilyMembers}">
            <td th:text="${familyMember.memberName}"></td>
            <td th:text="${familyMember.getTotalChoreTimeOutOfAllChores()}"></td>
            <td th:unless="${familyMember.memberName.equals('Not yet assigned')}"
                th:if="${familyMember.returnAheadOrBehind(allFamilyMembers).startsWith('-')}"
                th:text="${familyMember.returnAheadOrBehind(allFamilyMembers)}" id="red"></td>
            <td th:unless="${familyMember.memberName.equals('Not yet assigned')}"
                th:if="${familyMember.returnAheadOrBehind(allFamilyMembers).startsWith('+')}"
                th:text="${familyMember.returnAheadOrBehind(allFamilyMembers)}" id="green"></td>
            <td class="icon-column" th:unless="${familyMember.memberName.equals('Not yet assigned')}">
                <a th:href="@{/familymember/edit/{memberName}(memberName = ${familyMember.memberName})}"
                   class="text-decoration-none text-primary edit-icon"
                   title="Edit">
                <i class="bi bi-pencil-square"></i>
            </a></td>
            <td class="icon-column" th:unless="${familyMember.memberName.equals('Not yet assigned')}">
                <a th:href="@{/familymember/delete/{memberID}(memberID = ${familyMember.memberID})}"
                   class="text-decoration-none text-danger"
                   title="Remove">
                <i class="bi bi-trash"></i>
            </a></td>
            <td class="icon-column" th:unless="${familyMember.memberName.equals('Not yet assigned')}">
                <a class="btn btn-primary"
                   th:href="@{/familymember/detail/{name}(name = ${familyMember.memberName})}" role="button">Details
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="bottom-buttons">
        <a class="btn btn-primary" th:href="@{/familymember/add}" role="button">add another family member</a>
    </div>
</div>
</body>

<div th:replace="~{fragments/general :: footer}"></div>

</html>