<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Schedule a chore</title>
</head>
<body>

<h1>Schedule a chore</h1>

<form th:action="@{/schedule/save}" method="post" th:object="${formPlanning}">
    <input type="hidden" th:field="*{scheduleID}"/>
    Date: <input type="date" th:field="*{dueDate}" required>
    Chores: <select th:field="*{chores}" multiple required>
            <option th:each="chore : ${allChores}"
                    th:text="${chore.choreName} + ' (door ' + ${chore.familyMember.memberName} + ')'"
                    th:value="${chore.choreID}">
            </option>
</select>

    <input type="submit" value="Save schedule">
</form>

</body>
</html>