<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Overview of all scheduled chores</title>
</head>
<body>

<h1>Overview of all scheduled chores</h1>
<table>
    <thead>
    <tr>
        <th>Date</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="schedule : ${allScheduledChores}">
        <td><a th:href="@{/schedule/detail/{dueDate}(dueDate = ${schedule.dueDate})}"
               th:text="${schedule.dayOfWeek}"></a></td>
        <td th:text="${#temporals.format(schedule.dueDate, 'dd-MM-yyyy')}"></td>
        <td><a th:href="@{/schedule/edit/{scheduleDate}(scheduleDate = ${schedule.dueDate})}">edit</a></td>
        <td><a th:href="@{/schedule/delete/{scheduleID}(scheduleID = ${schedule.scheduleID})}">delete</a></td>
    </tr>
    </tbody>
</table>

<a th:href="@{/schedule/plan}">Plan chores on another day</a>

</body>

</html>