<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detailview Chores on one day</title>
</head>
<body>

<h1>Details of the chores on
    <span th:text="${schedule.getDayOfWeek()}"></span>
    <span th:text="${#temporals.format(schedule.dueDate, 'dd-MM-yyyy')}"></span></h1>
<table>
    <thead>
    <tr>
        <th>Chore</th>
        <th>Duration</th>
        <th>Specialist</th>
        <th>Total time</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="chore : ${schedule.chores}">
        <td th:text="${chore.choreName}">Chore name</td>
        <td th:text="${chore.choreDuration}">Chore Duration</td>
        <td th:text="${chore.familyMember.memberName}">Specialist </td>
        <td th:text="${schedule.getTotalChoreTime(chore.familyMember)}"></td>
    </tr>
    </tbody>
</table>

<a class="btn btn-primary" th:href="@{/schedule/edit/{dueDate}(dueDate = ${schedule.dueDate})}" role="button">Add some more chores to this day</a>

</body>

</html>